@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: raleway, sans-serif;
    color: #5a585e;
}

/* header and styling */

.my-header {
    height: 70px;
}


/*display: inline-block for the h2 element was obtained from student support when my 'book a table' heading was not 
aligning correctly on the booking page*/

h1, h2 {
    font-family: lobster, sans-serif;
    color: #252538;
    letter-spacing: 2px;  
    font-size: 280%;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    }

#main-header {
    float: left;
    font-size: 100%;
    text-decoration: none;
    margin-left: 50px;
}

#main-header, #header-links {
    line-height: 75px;
}

#header-links {
    float: right;
    list-style-type: none;
    font-size: 120%;
    color: #5a585e;
}

#header-links li {
    float: left;
    margin-right: 30px;
}

#header-links a {
    text-decoration: none;
    color: inherit;
}

#header-links a:hover {
    border-bottom: 2px solid;
    color: #252538;
}
.active-page {
    border-bottom: 2px solid;   
}

#hero-image {  
    height: 78vh;
    width: auto;
    background-image: url(../images/jael-rodriguez-mynsldMi9dg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.our-mission {
    margin: 2% 10% 3%;
}

/* photos descriptions and styling */

.burgers-img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.pizza-img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 50%;
    margin: 0 auto;
}

#photos h2 {
    text-align: center;
}

/* Message/Contact Section/Events*/

.flexbox-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.contact-us {
    margin-right: 50px;  
}

.upcoming-events {
    margin-bottom: 100px;
    border: groove 4px;
    padding: 10px;
    border-radius: 5px;
}

.upcoming-events >h3 {
    font-family:  raleway, sans-serif;
    color:  #5a585e;
}

.name-box {
    border: groove 4px;
    margin: 10px;
    margin-left: 32px;
    border-radius: 5px;
}

.message-box {
    border-style: groove;
    border-width: 4px;
    margin: 10px;
    border-radius: 5px;
}

.email-box {
    border: groove 4px;
    margin: 10px;
    margin-left: 30px;
    border-radius: 5px;
}

.submit-box {
    border: groove 4px;
    margin: 10px 25px 20px;
    padding: 5px;
    border-radius: 5px;
    font-family: raleway, sans-serif;
    color:  #5a585e;  
}

#submit-button input:hover {
    background-color: blue;
}

/* Footer and social media */

.flexbox-container-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    height: 100px;
}

.social-links {
    width: 250px;
    font-size: 200%;
    padding: 1%;
}

.facebok-link {
    padding: 10%;
    color:  #5a585e;
}

.insta-link {
    padding: 10%;
    color:  #5a585e;
}

.twitter-link {
    padding: 10%;
    color:  #5a585e;
}

/*menu*/

h3 {
    font-family: lobster, sans-serif;
    color:  #5a585e;
    letter-spacing: 2px;
}

.menu-header {
    text-align: center;
}

.full-menu {
    text-align: center;
    line-height: 2.5;
    margin: 75px;
    color:  #5a585e;
}

/*Book a Table*/

.book-table {
    text-align: center;
}

.main-details {  
    width: 30%;
    padding: 20px;
    /* color: #5a585e; */
}

.other-details { 
    padding: 20px;
}

.name-box2 {  
    border-style: groove;
    width: 95%;
    border-radius: 5px;
    margin: 5px;
}

.email-box2 {
    width: 95%;
    border-style: groove;
    border-radius: 5px;
    margin: 5px;
}

.date-box {
    border-style: groove;
    border-radius: 5px;
    margin: 5px;
    font-family: raleway, sans-serif;
    color:  #5a585e;
}

.time-box {
    border-style: groove;
    border-radius: 5px;
    margin: 5px;
    font-family: raleway, sans-serif;
}

.party-size-box {
    border-style: groove;
    border-radius: 5px;
    margin: 5px;
}

.number-box {
    border-style: groove;
    border-radius: 5px;
    margin: 5px;
}

.submit-box2 {
    border-style: groove;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-family: raleway, sans-serif;
    color:  #5a585e;
}

.message-staff-box {
    border-style: groove;
    border-radius: 5px;
    margin: 5px;
}

#request-box {
    border-style: groove;
    border-radius: 5px;
    margin: 5px;
}

textarea {
    font-family: raleway, sans-serif;
}

/* media queries */
/* Screens under 1170px */

@media screen and (max-width: 1170px) {
    #photos {
        width: 100%;
        height: 750px;
        margin: 0 auto;
    }

    .burgers-img {
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }

    .pizza-img {
        width: 100%;
        height: 300px;
        margin: 0 auto;
        margin-bottom: 0%;
    }

    .flexbox-container {
        margin-top: 0;
    }

    .book-table {
        width: fit-content;
        margin:auto;
    }

}
/* For screen sizes 930px and below */

@media screen and (max-width: 930px) {
    .my-header {
        height: 140px;
    }

    #header-links {
        float: left;
        margin-left: 235px;
    }

    .burgers-img {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }

    .pizza-img {
        width: 100%;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 0%;
    }

    #photos {
        width: 100%;
        height: 550px;
        margin: 0 auto;
    }
}

/* For screen sizes 830px and below */

@media screen and (max-width: 830px) {
    .my-header {
        height: 150px;
    }
    
    #header-links {
    float: left;
    margin-left: 200px;
    }
    
    #main-header {
       margin-left: 0%;
    } 

    .flexbox-container {
        display: inline-block;
        justify-content: space-around;
        align-items: center;
        margin: 50px;
    } 

    .upcoming-events {
        margin-bottom: 10px;
        border: groove 4px;
        padding: 10px;
        border-radius: 5px;
    }

    .message-staff-box {
        width: 300px;
        height: 200px;
    }

    .book-table {
        width: fit-content;
    }
}

/* For screen sizes 540px and below */

@media screen and (max-width: 540px) {
    
    .book-table {
        width: fit-content;
    }

    #header-links {
        margin: inherit;
    }
    
    .grid-container {
        grid-template-columns: 1fr;
        width: 75%;
    }

    .flexbox-container {
        display: revert;
        margin: auto;
    }

    .contact-us {
        margin-right: 50px;
        margin-top: 520px;
    }

    .my-header {
        height: 220px;
        }

    .burgers-img {
        width: 50%;
        height: 75%;
        margin: 0 auto;
    }
    
    .pizza-img {
        width: 50%;
        height: 75%;
        margin: 0 auto;
            margin-bottom: 0%;
    }
}