@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: raleway, sans-serif;
    font-weight: 300;
    color: #928f9d;
}



/* header and styling */

h1, h2 {
    font-family: lobster, sans-serif;
    color: #7c7986;
    letter-spacing: 2px;  
    font-size: 280%;
    
}

#main-header {
    float: left;
    font-size: 100%;
    text-decoration: none;
}

#main-header, #header-links {
    line-height: 75px;
}

#header-links {
    float: right;
    list-style-type: none;
    font-size: 120%;
}

#header-links li {
    float: left;
    margin-right: 30px;
}

#header-links a {
    text-decoration: none;
    color: inherit;
}

#header-links a:hover {
    border-bottom: 2px solid;
}

.active-page {
    border-bottom: 2px solid
}

#hero-image {
    height: 1000px;
    width: 100%;
    background-image: url(../images/jael-rodriguez-mynsldMi9dg-unsplash.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.our-mission {
    margin: 2% 10%;
}

/* photos descriptions and styling */


.burgers-img {
    width: 400px;
    height: 400px;
    
}

.pizza-img {
    width: 400px;
    height: 400px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 50%;
    margin: 0 auto;
    
}

/* Message/Contact Section*/

.name-box {
    border-style: solid; 
}

.message-box {
    border-style: solid; 
}

.email-box {
    border-style: solid; 
}

.submit-box {
    border-style: solid; 
}