@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: raleway, sans-serif;
    font-weight: 300;
    color: #928f9d;
}



/* header and styling */

h1, h2 {
    font-family: lobster, sans-serif;
    color: #7c7986;
    letter-spacing: 2px;  
    font-size: 280%;
    
}

#main-header {
    float: left;
    font-size: 100%;
    text-decoration: none;
}

#main-header, #header-links {
    line-height: 75px;
}

#header-links {
    float: right;
    list-style-type: none;
    font-size: 150%;
}

#header-links li {
    float: left;
    margin-right: 30px;
}

#header-links a {
    text-decoration: none;
    color: inherit;
}

#header-links a:hover {
    border-bottom: 2px solid;
}

.active-page {
    border-bottom: 2px solid
}

#hero-image {
    
    height: 80vh;
    width: auto;
    background-image: url(../images/jael-rodriguez-mynsldMi9dg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.our-mission {
    margin: 2% 10%;
}

/* photos descriptions and styling */


.burgers-img {
    width: 400px;
    height: 400px;
    
}

.pizza-img {
    width: 400px;
    height: 400px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 50%;
    margin: 0 auto;
    
}

#photos h2 {
    text-align: center;
}

/* Message/Contact Section/Events*/

.flexbox-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-us {
    margin-right: 50px;
    
}

.upcoming-events {
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
    border: groove 4px #928f9d;
    padding: 10px;
    
}


.name-box {
    border: groove 4px #928f9d;
    margin: 10px;
    margin-left: 32px;
    

}

.message-box {
    border-style: groove;
    border-width: 4px;
    border-color: #928f9d;
    margin: 10px;
    
}

.email-box {
    border: groove 4px #928f9d;
    margin: 10px;
    margin-left: 30px;
    
}

.submit-box {
    border: groove 4px #928f9d;
    margin: 10px 25px 20px;
    padding: 5px;
    
    
}

/* Footer and social media */

.flexbox-container-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    height: 150px;
}

.social-links {
    width: 250px;
    font-size: 200%;
    padding: 1%;
    
}

.facebok-link {
    padding: 10%;
    color: #928f9d;
}

.insta-link {
    padding: 10%;
    color: #928f9d;
}

.twitter-link {
    padding: 10%;
    color: #928f9d;
}