@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: raleway, sans-serif;
    font-weight: 300;
    color: #928f9d;
}



/* header and styling */

h1, h2 {
    font-family: lobster, sans-serif;
    color: #7c7986;
    letter-spacing: 2px;  
}

#main-header {
    float: left;
}

#main-header, #header-links {
    line-height: 75px;
}

#header-links {
    float: right;
    list-style-type: none;
    font-size: 120%;
}

#header-links li {
    float: left;
    margin-right: 30px;
}

#header-links a {
    text-decoration: none;
    color: inherit;
}

#header-links a:hover {
    border-bottom: 2px solid;
}

.active-page {
    border-bottom: 2px solid
}